<footer class="footer" role="contentinfo">
    <div><a href="https://ondrejmarkus.com">Ondrej Markus</a> &bull; <a href="mailto:o@ondrejmarkus.com">Email</a> &bull; <a href="https://twitter.com/ondrej_markus">Twitter</a></div>
</footer>